name: Publish

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:

  publish-ubuntu:
    name: Publish binaries (Ubuntu)
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      -
        name: Run build action
        uses: "./.github/actions/build"
        with:
          target-distro: ubuntu
      -
        name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/nody-greeter.deb
          asset_name: nody-greeter-$tag-ubuntu.deb
          tag: ${{ github.ref }}
          overwrite: true

  publish-debian:
    name: Publish binaries (Debian)
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      -
        name: Run build action
        uses: "./.github/actions/build"
        with:
          target-distro: debian
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/nody-greeter.deb
          asset_name: nody-greeter-$tag-debian.deb
          tag: ${{ github.ref }}
          overwrite: true

  # This may be rewritten to not use external workflows
  publish-void:
    name: Publish binaries (Void)
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      -
        name: Dispatch void-linux build
        uses: aurelien-baudet/workflow-dispatch@v2
        with:
          workflow: build.yml
          repo: JezerM/nody-greeter-void
          ref: master
          token: ${{ secrets.PERSONAL_TOKEN }}
          inputs: "{}"
          wait-for-completion: true
      -
        name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          repo: JezerM/nody-greeter-void
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          workflow: build.yml
          branch: master
          path: artifacts/
      -
        name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: artifacts/**/*.xbps
          file_glob: true
          overwrite: true
